<section class="card__body flex">

    <div class="pkmn-number"> {{ getPkmnNum(pkmnID) }} </div>
    <div class="pkmn-img">
        <img [src]="getImgPkmn()" alt="">  <!-- Always use gen-Vi as card__body>img -->  
    </div>
    <div class="pkmn-name">{{ pkmn.name }}</div>
    <div class="pkmn-types flex">
        <div class="pkmn-type1">Gress</div>
        <div class="pkmn-type2">Poison</div>
    </div>

</section>

<!-- https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vi/x-y/1.png -->