<div class="menu-bar__container flex">

<div class="menu-bar__logo__container">
    <img 
        src="assets/logo-pokemon-79x45.png" 
        alt="Pokemon" 
        class="menu-bar__logo__img"
    >
</div>

<div class="menu-bar__menu-items__container flex">
    <ul class="menu-bar__items-list flex">
       
        <app-menu-bar-item
            menuBarIcon="https://api.iconify.design/arcticons/pokemon-unite.svg?color=black&width=20&height=20"
            menuBarLinkName="Hire"
        >
        </app-menu-bar-item>

        <app-menu-bar-item
            menuBarIcon="https://api.iconify.design/mdi/pokemon-go.svg?color=black&width=20&height=20"
            menuBarLinkName="me!"
        >
        </app-menu-bar-item>
    
    </ul>
</div>

<div class="menu-bar__menu__container flex">
    <img 
        src="https://api.iconify.design/ic/twotone-catching-pokemon.svg?color=black&width=20&height=20" 
        alt="Menu" 
        class="menu-bar__item-icon"
    >
    <a 
        href=""
        >Menu
    </a>
</div>


</div>



