@import url(https://db.onlinewebfonts.com/c/073a3b73a63a87e100f6bb8f003fc0d3?family=Flexo-Demi);

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-family: "Flexo-Demi",arial,sans-serif;
    text-decoration: none;
    list-style: none;
}

.flex {
    display: flex;
}
