@import url(https://db.onlinewebfonts.com/c/831e1f4da157d96bc996f8c9f5f1e578?family=Pokemon+GB);

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-family: "Pokemon GB",arial,sans-serif;
    text-decoration: none;
    list-style: none;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}